body,
button,
input,
select,
textarea {
  font-family: "Alice", serif !important;
}

p {
  font-family: "Nunito", sans-serif;
}

.has-same-height .card {
  height: 320px;
  overflow: hidden;
}

.card-content h3 {
  text-align: center;
}

.table-profile td,
th {
  border: none !important;
}

.table-profile td:first-of-type {
  font-weight: bold;
}

.skills-content .media {
  margin: 0 !important;
  padding: 4px !important;
  border: 0 !important;
}

.skills-content .progress {
  height: 4px !important;
}

.custom-tags {
  text-align: center !important;
  display: block;
}

.portfolio-container .card {
  margin-bottom: 2em;
}

.section-heading {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 6em;
}

/* customizaçoes */

.hero.has-background {
  position: relative;
  overflow: hidden;
}
.hero-background {
  position: absolute;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
}
.hero-background.is-transparent {
  opacity: 1;
}

.card {
  box-shadow: none;
}

.box {
  box-shadow: none;
}

.map {
  height: 300px;
}

.bg-rose {
  background: #f0dad8;
}

.bg-rose-dark {
  background: #f3a59d;
}

#location {
  margin: 0 auto;
}

.card {
  background: transparent;
}

#menu {
  background: transparent;
}

#menu-desktop {
  background: transparent;
}

#menu-desktop .navbar-item {
  color: #fff;
  font-size: 1.3rem;
}

#menu-desktop a.navbar-item:hover {
  background-color: transparent;
  color: #fff;
}

#banner {
  top: -80px;
}

.img-round {
  border-radius: 35px;
  width: 256px !important;
}

.footer {
  height: 50px;
}

.hero.is-fullheight {
  min-height: 100vh;
}

.section {
  padding: 1rem 1.5rem;
}

.navbar-item img {
  max-height: 64px;
}

.is-link {
  background: #f3a59d !important;
}

.imgcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-heading {
  margin-bottom: 4em;
}

.footer {
  bottom: 0;
  width: 100vw;
  padding: 0;
  height: 80px;
  line-height: 25px;
  text-align: center;
  background: #f3a59d;
  color: whitesmoke;
  padding-top: 2rem;
}

.footer a {
  padding: 0rem 1rem 1rem 1rem;
  color: lightgrey;
}

.footer a i {
  font-size: 1.5rem;
  padding: 0px 10px;
}

.footer a .nav-item {
  color: whitesmoke;
}

.fas,
.fa {
  margin-right: 18px;
  font-size: small;
}
